.instrument-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

.instrument-panel select {
    padding: 5px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #1a1a1a;
    color: white;
}

.instrument-panel label {
    margin-top: 5px;
    font-size: 1em;
    color: white;
}

.instrument-panel input[type="range"] {
    width: 100%;
    margin-top: 5px;
}