:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 30px 1fr 90px;

  max-width: 1280px;
  margin: 0 auto;
}

#header {
  padding: 8px;
  text-align: center;
  font-size: 2em;
}

#get-started {
  display: grid;
  place-items: center;
  justify-content: center;
}

#get-started>button {
  background-color: #d70d75;
}

#indicators {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 1fr;
  place-items: center;
  margin: 0 auto;
  /* font-size: 2em;
  height: 50px; */
}

/* Main */
#main {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 1fr;
  place-items: center;
  margin: 0 auto;
  /* font-size: 2em;
  height: 50px; */
}

/* Controls */
#controls {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: small;
  justify-content: center;
}

/* ADSR Controls */
#adsr-controls {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

/* Track Controls */
.track-controls {
  display: flex;
  gap: 5px;
  position: absolute;
  left: -60px;
  /* Position to the left of the track */
  top: 0;
}

.track-controls button {
  border-radius: 8px;
  border: 1px solid transparent;
  height: 30px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.track-controls button:hover {
  border-color: #d70d75;
}

.track-controls button:focus,
.track-controls button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Buttons */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  height: 50px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #d70d75;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Active Button */
button.active {
  background-color: #d70d75;
}

/* Record Icon */
.record-icon {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.record-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

/* Stop Recording Icon */
.stop-recording-icon {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, red, darkred);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.stop-recording-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-color: black;
}

/* Play Icon */
.play-icon {
  width: 30px;
  height: 30px;
  background-color: #1a1a1a;
  border: none;
  cursor: pointer;
}

.play-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid white;
}

/* Stop Playing Icon */
.stop-playing-icon {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, #d70d75, #a30d75);
  border: none;
  cursor: pointer;
}

.stop-playing-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-color: black;
}